
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #f67280;
    color: white;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 1em 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav a:hover {
    color: #f67280;
}

section {
    padding: 2em;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #f67280;
}

footer {
    text-align: center;
    padding: 1.5em;
    background-color: #343a40;
    color: white;
    margin-top: 2em;
}
